* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.child1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    flex-direction: column;
    height: 250px;
    padding-bottom: 50px;
}

.child2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    flex-direction: column;
    height: 250px;
    padding-bottom: 50px;
}

.startbtn:hover {
    color: white;
    background-color: rgb(192, 192, 255);
}

b {
    color: purple;
}

.buttons {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.buttons>button {
    border: 3px solid purple;
    color: purple;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}

.resultdiv {
    display: flex;
    border: 3px solid PURPLE;
    color: purple;
    font-size: 20px;
    width: 47.3%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}